/* Font definitions for Poppins with different weights */

/* Poppins Regular */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('assets/main/fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

/* Poppins 500 */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('assets/main/fonts/poppins-v20-latin-500.woff2') format('woff2');
}

/* Poppins 600 */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('assets/main/fonts/poppins-v20-latin-600.woff2') format('woff2');
}

/* Poppins 700 */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('assets/main/fonts/poppins-v20-latin-700.woff2') format('woff2');
}

/* Set the font family for elements with class .d_text */
.d_text {
    font-family: 'Poppins', sans-serif, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ########################################## Home page section begin ######################################### */

/* Style for the background of the desktop version */
.home {
    background: #000;
}

/* Style for the background of the mobile version */
.home_mb {
    background: #000;
}

/* Active link text color and hover effect */
.active_custom {
    color: blue;
}

.active_custom:hover {
    color: darkblue;
}

/* Hover effect for general navigation links */
.nav-link_custom:hover {
    color: darkblue;
}

/* Custom styling for navigation items */
.nav-link_custom {
    font-size: 17px;
    font-weight: 500; /* Note: removed 'px' from font-weight value */
}

/* Styling for the main title on the page */
.main_title {
    font-size: 100px;
    font-weight: 700;
    color: #fff;
}

/* Styling for the opinion title with a linear gradient */
.main_title_opinion {
    font-size: 100px;
    font-weight: 700;
    background: linear-gradient(to right, #ff4e50, #f9d423);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.info_about {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

.btn_custom2 {
    padding: 16px 60px;
}

.users {
    color: gray;
    font-size: 18px;
}

b {
    color: #fff;
}

.about_main_title {
    font-size: 70px;
    font-weight: 600;
    color: #fff;
}

.about_titles {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.about_titles_text {
    font-size: 22px;
    font-weight: 400;
    color: grey;
}

/* ########################################## Home page section end ######################################### */

/* ########################################## Step 1 begin ######################################### */

.step_1 {
    background: #000;
}

.section_number {
    color: rgb(61, 130, 242);
    font-size: 25px;
    font-weight: 600;
}

.section_title {
    color: #fff;
    font-size: 70px;
    font-weight: 600;
}

.section_title_text {
    font-size: 30px;
    font-weight: 400;
    color: gray;
}

.btn_custom3 {
    padding: 20px 35px;
    color: gray;
}

.homepage {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.content_title {
    color: #fff;
    font-size: 75px;
    font-weight: 600;
}

.ads {
    color: #fff;
    font-size: 75px;
    font-weight: 600;
}
.ads2 {
    color: rgb(60, 130, 244);
}

.ads_text {
    color: grey;
    font-size: 23px;
    font-weight: 400;
}
/* ########################################## Step 1 end ######################################### */



/* ########################################## Other information begin ######################################### */

.step_2 {
    background: #000;
}

.btn_custom4 {
    padding: 20px 80px;
    border-radius: 10px;
}

.step_3 {
    background: #000;
}

.step_4 {
    background: #000;
}

/* ########################################## Other information end ######################################### */

/* ########################################## Footer section begin ######################################### */

.footer {
    background: #000;
}

.nav-items_custom {
    list-style: none;
}

/* ########################################## Footer section end ######################################### */


/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
    /* Display the mobile version and hide the desktop version */
    .home_mb {
        display: block;
    }

    /* Hide the desktop version */
    .home {
        display: none;
    }
    .footer_section {
        display: none;
    }
}

/* Media query for screens with a minimum width of 768px */
@media screen and (min-width: 768px) {
    /* Display the desktop version and hide the mobile version */
    .home_mb {
        display: none;
    }

    /* Hide the mobile version */
    .home {
        display: block;
    }
    .footer_section {
        display: block;
    }
}

@media screen and (max-width: 768px){
    .main_title {
        font-size: 60px;
    }
    .main_title_opinion {
        font-size: 60px;
    }
    .info_about {
        font-size: 40px;
    }
    .section_title {
        font-size: 45px;
    }
    .about_titles_text {
        font-size: 16px;
    }
    .content_title {
        font-size: 40px;
    }
    .homepage {
        font-size: 25px;
    }
    .ads {
        font-size: 40px;
    }
}

@media screen and (max-width: 375px) {
    .main_title{
        font-size: 50px;
    }
    .main_title_opinion {
        font-size: 50px;
    }
    .about_main_title {
        font-size: 30px;
    }
    
}

