/* Font definitions for Poppins with different weights */

/* Poppins Regular */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('assets/main/fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

/* Poppins 500 */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('assets/main/fonts/poppins-v20-latin-500.woff2') format('woff2');
}

/* Poppins 600 */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('assets/main/fonts/poppins-v20-latin-600.woff2') format('woff2');
}

/* Poppins 700 */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('assets/main/fonts/poppins-v20-latin-700.woff2') format('woff2');
}

/* Set the font family for elements with class .d_text */
.d_text {
    font-family: 'Poppins', sans-serif, serif;
}

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home page section styles */
/* Style for the background of the desktop version */
.home,
/* Style for the background of the mobile version */
.home_mb {
    background: #000;
}

/* Active link text color and hover effect */
.active_custom {
    color: blue;
}

.active_custom:hover {
    color: darkblue;
}

/* Hover effect for general navigation links */
.nav-link_custom:hover {
    color: darkblue;
}

/* Custom styling for navigation items */
.nav-link_custom {
    font-size: 17px;
    font-weight: 500; /* Note: removed 'px' from font-weight value */
}

/* Styling for the main title on the page */
.main_title,
/* Styling for the opinion title with a linear gradient */
.main_title_opinion {
    font-size: 100px;
    font-weight: 700;
    color: #fff;
}

.info_about,
.btn_custom2,
.users b,
.about_main_title,
.about_titles {
    color: #fff;
}

.about_titles_text {
    font-size: 22px;
    font-weight: 400;
    color: grey;
}

/* Step 1 styles */
.step_1 {
    background: #000;
}

.section_number,
.section_title,
.section_title_text,
.homepage,
.content_title,
.ads {
    color: #fff;
}

.ads2 {
    color: rgb(60, 130, 244);
}

.ads_text {
    color: grey;
    font-size: 23px;
    font-weight: 400;
}

/* Other information styles */
.step_2,
.btn_custom4,
.step_3,
.step_4 {
    background: #000;
}

/* Footer section styles */
.footer {
    background: #000;
}

.nav-items_custom {
    list-style: none;
}

/* Media queries */
/* Media query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
    /* Display the mobile version and hide the desktop version */
    .home_mb {
        display: block;
    }

    /* Hide the desktop version */
    .home {
        display: none;
    }
    .footer_section {
        display: none;
    }
}

/* Media query for screens with a minimum width of 768px */
@media screen and (min-width: 768px) {
    /* Display the desktop version and hide the mobile version */
    .home_mb {
        display: none;
    }

    /* Hide the mobile version */
    .home {
        display: block;
    }
    .footer_section {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    /* Adjust font sizes for smaller screens */
    .main_title,
    .main_title_opinion {
        font-size: 60px;
    }

    .info_about {
        font-size: 40px;
    }

    .section_title,
    .content_title {
        font-size: 45px;
    }

    .about_titles_text {
        font-size: 16px;
    }

    .homepage {
        font-size: 25px;
    }

    .ads {
        font-size: 40px;
    }
}

@media screen and (max-width: 375px) {
    /* Further adjustments for even smaller screens */
    .main_title,
    .main_title_opinion {
        font-size: 50px;
    }

    .about_main_title {
        font-size: 30px;
    }
}